.jobs-page{
  width: 100%;
  color: #19283f;
  margin-bottom: 60px;
}

/* ------Job page Hero Section-------- */
.jobpage-hero-section {
  width: 1000px;
  width: 100%;
  color: white;
  background: #061a35;
   padding: 50px 40px 50px;
}

.jobpage-hero-title{
   margin-bottom: 10px;
  font-size: 42px;
  line-height: 1.15;
}

.blue-line{
width: 40px;
  height: 3px;

  margin: 12px 0 20px;

  background: #1260d8;
}

.jobpage-hero-message{
   font-size: 18px;
  line-height: 1.7;
}
/* ------ Job list Area---------------- */
.job-list {
  /* margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; */
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background:transparent ;
}

@media (max-width: 900px) {
  .job-list {
    grid-template-columns: 1fr;
  }
}