.nav-bar {
  background-color:white;
  border-bottom: 5px solid whitesmoke;
  position:fixed;
  z-index: 1000;
  top: 31px;
  min-height: 60px;

}

.navbar-content {
  width: 100%;
  max-width: 98%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

/* Logo */

.logo img {
  width:23%;
  height: 100%;
  display: block;
} 

/* Navigation */

.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* .nav-link {
  color: #19283f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
} */

.nav-link {
  color: #19283f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;

  white-space: nowrap;
}

.nav-link:hover {
  color: #2e6af1;
}
